*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.logo{
    display: inline-block;
    margin: 6px 0;

}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul a{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
header nav ul {
    list-style: none;
}
header nav ul li:first-of-type {
    margin-right: 24px;

}
header nav ul li:first-of-type a {
    font-size: 13px;
}
header nav ul li:last-of-type a{
    background-color:#FFFFFF;
    border-radius: 14px;
    display: inline-block;
    padding: 9px 20px;
    font-size: 16px;
    color: #000000;
}
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 89vh;
    display: flex;
    align-items:end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;
}
.main_banner .container{
    margin: inherit;
}
.main_banner h3{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main_banner h1{
    font-family: 'Poppins';
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}
.main_banner p{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    max-width: 580px;
    margin: auto;
}

.list_item{
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.list_item li{
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-left: 16px;
}
.list_item li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.png");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}
.list_item li:nth-child(2):before{
    background-image: url("../images/icon_2.png");
}
.list_item li:nth-child(3):before{
    background-image: url("../images/icon_3.png");
    margin-right: 7px;
    width: 32px;
}
.list_item li:last-of-type:before {
    background-image: url("../images/icon_4.png");
    margin-right: 5px;
    width: 10px;
}
/*section_2*/

.what_we_do{
    background-color: black;
    padding-top: 112px;
    padding-bottom: 100px;
}
.what_we_do h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}
.what_we_do p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
}
.text-center{
    text-align: center;
}
.wrap{
    flex-wrap: wrap;
}
.what_we_do .item{
    max-width: 575px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do .item img{
    display: block;
    width: 100%;
}

.what_we_do .container{
    max-width: 1168px;
}

.what_we_do .item .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.description h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 30px;
}
.description a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s;
}
.description a:before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.3s;
}
.description a:hover{
    background: #000;
    color: #fff;
}

.description a:hover:before{
    background-color: #fff;
}

.fuji{
    background-image: url(../images/fuji.jpg);
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 71px;
    position: relative;
}
.fuji .container{
    max-width: 287px;
    margin: inherit;
    color:#C0C0C0;
    margin-right: 62px;
}
.fuji p:first-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.fuji p:last-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.plant{
    background-image: url(../images/plant.jpg);
    background-size: cover;
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    padding-bottom: 70px;
}

.plant .container{
    max-width: 298px;
    margin: inherit;
    color:#C0C0C0;
    margin-right: 62px;
}
.plant p:first-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;}

.plant p:last-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.past_clients{
    background-color: #000000;
    position: relative;
    padding: 120px 120px 100px ;
}
.past_clients .container{
    max-width: 1200px;

}

.past_clients_text h2{
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.past_clients_text p{
    margin-bottom: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;

}
.past_clients_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.past_clients_logo .logo_owl{
max-width: 128px;
}
    



.himalai{
    background-image: url(../images/himalayas.jpg);
    background-size: cover;
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    padding-bottom: 70px;
}

.himalai .container{
    max-width: 254px;
    margin: inherit;
    color:#C0C0C0;
    margin-right: 62px;
}
.himalai p:first-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.himalai p:last-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #C0C0C0;
}
footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    flex-direction: column;

}
.footer_1{
    display: flex;
    justify-content: space-between;
    border-bottom: white;
}
footer .container .logo_footer{
    margin-top: 100px;
    flex-direction: column;

}
footer .container .logo_footer p{
    color: white;
    margin-top: 20px;
    margin-right: 270px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;

}
footer .container .lists{
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    margin-top: 92px;
}
.container .lists ul li:nth-child(3){
    margin-right: 55px;
}

.container ul li:first-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(192, 192, 192, 1);
    list-style: none;
}

.container .lists ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
}
.container ul li{
    margin-bottom: 10px;
}


 .footer_2 {
   display: flex;
   justify-content: space-between;

 }
 .footer_text{
     flex-direction: column;
 }
.footer_2 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    
}
.footer_2 p:last-of-type{
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.footer_2 form{

    background-color: #ffffff;
    max-width: 458px;
    max-height: 52px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}
.footer_2 form button{
    background-color:#000;
    width: 63px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 7px;
}
.footer_3{
    display: flex;
    justify-content: space-between;

}
.footer_3 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.footer_3 img:nth-child(1){
    margin-right: 20px;

}
.footer_3 img:nth-child(2){
    margin-right: 26px;
}
.owl-dots {
    display: flex;
    justify-content: center;
}
.owl-dots .owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: #fff;
    margin: 10px;
}

.owl-dots .owl-dot.active span{
    width: 13px;
    height: 13px;
}